.container {
  background-color: cadetblue;
  padding: 0;
}

.items {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}

.content {
  margin-left: 4rem;
  color: white;
  font-size: 3rem;
}

.menu_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu_container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

.menu_container ul li {
  padding: 40px;
}

.menu_container ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.menu_container ul li a:hover {
  background-color: black;
  border-radius: 3px;
  padding: 4px;
  transform: scale(1.1);
}
